<!DOCTYPE html>
{% load static %}
<html lang="">
<head>
<title>SHAMART</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url({% static 'images/demo/backgrounds/bg1.jpg' %});width:100%;">
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
         <h1><a href="/">SHAMART</a></h1>
       </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="/">Home</a></li>
          {% if user.is_authenticated %}
          {{cn}}<li><a class="active" href="{% url 'cartdetails' %}"><i class="fa fa-shopping-cart" style="font-size:20px"></i></a>
          {% endif %}
          <li><a class="active" href="/accounts/register">Register</a>
          <li><a class="active" href="/accounts/login">Login</a>
          <li><a class="active" href="/accounts/logout">Logout</a>
        </ul>
      </nav>
    </header>
  </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>


